@charset "UTF-8";
body{min-width: 1920px; font-family: 'Roboto', sans-serif;}
*{margin: 0; padding: 0;}
::-webkit-input-placeholder { color: #fff !important; }
::-moz-placeholder {color: #fff !important; }
:-ms-input-placeholder { color: #fff !important; }
:-o-input-placeholder { color: #fff !important; }

/*header*/
#header{width:100%; height: 100px; position: fixed; z-index: 9999; background:rgba(122,0,159,0.5); }

#headerTop{width: 1240px; position: fixed; z-index: 9998; left:50%; transform: translateX(-50%); top:20px;}

#headerTop h1.logo{float: left; width: 200px; line-height: 50px; text-indent: 9999px; background-image: url(../imgs/logo.png); background-repeat: no-repeat; background-position: center; z-index: 9999;}
#headerTop h1 a{display: block;}
#main_menu{float: right;}
#main_menu li{float: left;}
#main_menu li a{display: block; line-height:50px; padding:0 15px; color:white; font-weight: bold; font-size: 22px;}
#main_menu li:hover{background: #7A009F;}
#headerTop .toggleMenu{width: 50px; height: 50px; float: right; position: relative; display: flex; justify-content: center; align-items: center; display: none;}
#headerTop .toggleMenu div{width: 30px; height: 3px; background: #fff; border-radius: 3px; position: absolute;}
#headerTop .toggleMenu .bar1{transform: translateY(10px);}
#headerTop .toggleMenu .bar2{}
#headerTop .toggleMenu .bar3{transform: translateY(-10px);}

/*slider*/
.slider li img{width: 100%;}
.sliderWrap .bx-wrapper {
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
    border: 0 none;
    margin-bottom: 0;}
.sliderWrap li.slider1st, .sliderWrap li.slider2st{background-repeat: no-repeat; background-position: center;
background-size: cover; height: 1000px; }
.sliderWrap li.slider1st{background-image: url(../imgs/메인배너.png);}
.sliderWrap li.slider2st{background-image: url(../imgs/메인배너.png);}

.sliderWrap .slider_txt{position: absolute; left:50%; top:35%; transform: translate(-50%, -50%); color:white; text-align: center; text-shadow:5px 5px 5px #000}
.slider_txt > h3{font-size: 46px; font-weight: bold; margin-bottom: 105px;}
.slider_txt > p{font-size: 26px; font-weight: bold;}

/*content*/
.cont_bg{position: relative; background: #D1A07B; height: 1010px;}
.content{position: relative;  top:-310px;}
.content .contList > li > a{display: block; width: 310px; height: 310px;}

.content .contList{width: 1240px; margin: 0 auto; display: flex; flex-wrap: wrap; position: relative; margin-bottom: 30px;}
.content .contList > li{width: 25%; height: 310px;}
.content .contList > li:nth-child(2n+1){background: skyblue;}
.content .contList > li:nth-child(3n+1){background: pink;}
.content .contList > li:nth-child(2n){background: violet;}

.content .contList > li:nth-child(1){background: #ff5b28; position: relative;}
.content .contList > li:nth-child(1) a > img{position: absolute; top:81px; left:105px;}
.content .contList > li:nth-child(1) a > p{width: 182px; position: absolute; top: 205px; left:50%; transform:translateX(-50%); color:#fff; font-size: 22px;}

.content .contList > li:nth-child(2){background-image: url(../imgs/인테리어.png); background-repeat: no-repeat; background-size: cover; position: relative;}
.content .contList > li:nth-child(2) img{position: absolute; top:105px; left:105px; cursor: pointer;}

.content .contList > li:nth-child(3) .sliderWrap{position: relative;}
.content .contList > li:nth-child(3) .slider2 li{width: 310px; height: 310px; }
.content .contList > li:nth-child(3) .slider_text{color:white; text-align: left; padding: 35px 50px;}
.slider_text > h2 {font-size: 30px; font-weight: bold; margin-bottom: 35px;}
.slider_text > p{font-size: 16px; font-weight: bold;}
.content .contList > li:nth-child(3) .nextbtn1,
.content .contList > li:nth-child(3) .prevbtn1{position: absolute; cursor: pointer; z-index: 9999; top:50%; width: 26px; height: 25px;}
.content .contList > li:nth-child(3) .sliderWrap img{width: 26px; height: 25px;}
.content .contList > li:nth-child(3) .nextbtn1{right:0;}
.content .contList > li:nth-child(3) .prevbtn1{left:0;}

.content .contList > li:nth-child(3) .slider2 .slider2-1{background: #c4c4c4;}
.content .contList > li:nth-child(3) .slider2 .slider2-2{background: #7A009F;}
.content .contList > li:nth-child(3) .slider2 .slider2-3{background: #FF5B28;}

.content .contList > li:nth-child(4){background: url(../imgs/커피샷추출.png) no-repeat center; }

.content .contList > li:nth-child(5){background: #c4c4c4; position: relative;}
.content .contList > li:nth-child(5) a > img{position: absolute; top:90px; left:105px;}
.content .contList > li:nth-child(5) a > p{width: 182px; height: 25px; position: absolute; top: 205px; left:50%; transform:translateX(-50%); text-align: center; color:#fff; font-size: 22px;}

.content .contList > li:nth-child(6){background-color: #ff5b28; position: relative;}
.content .contList > li:nth-child(6) a > img{position: absolute; top:81px; left:105px;}
.content .contList > li:nth-child(6) a > p{width: 182px; height: 25px; position: absolute; top: 205px; left:50%; transform:translateX(-50%); text-align: center; color:#fff; font-size: 22px;}

.content .contList > li:nth-child(7){width: 50%; background: url(../imgs/근접샷추출.png) no-repeat center; color:#fff; padding-top: 50px; padding-left:50px;}
.content .contList > li:nth-child(7) .intro_txt{width: 45%;}
.content .contList > li:nth-child(7) .intro_txt > h2 {font-size: 30px; margin-bottom: 30px;}
.content .contList > li:nth-child(7) .intro_txt > span:after {content: ""; display: block; width: 100px; height: 3px; background: #fff; margin-bottom: 25px;}
.content .contList > li:nth-child(7) .intro_txt > p {font-size: 22px; font-weight: bold;}

.content .contList > li:nth-child(8){background: url(../imgs/시그니쳐메뉴.png) no-repeat center;}

.content .contList > li:nth-child(9){width: 50%; background: url(../imgs/한잔의여유.png) no-repeat center; color:#000;
padding-top: 50px; padding-left:50px;}
.content .contList > li:nth-child(9) .intro_txt{width: 45%;}
.content .contList > li:nth-child(9) .intro_txt > h2 {font-size: 30px; margin-bottom: 30px;}
.content .contList > li:nth-child(9) .intro_txt > span:after {content: ""; display: block; width: 150px; height: 3px; background: #000; margin-bottom: 25px;}
.content .contList > li:nth-child(9) .intro_txt > p {font-size: 22px; font-weight: bold;}

.content .contList > li:nth-child(10){background-color: #7A009F; position: relative;}
.content .contList > li:nth-child(10) a > img{position: absolute; top:81px; left:89px;}
.content .contList > li:nth-child(10) a > p{width: 182px; height: 25px; position: absolute; top: 205px; left:50%; transform:translateX(-50%); text-align: center; color:#fff; font-size: 22px;}

.content .contList > li:nth-child(11){background: #c4c4c4; padding-top: 30px; padding-left: 36px;}
.content .contList > li:nth-child(11) .cont_txt{width: 210px;}
.content .contList > li:nth-child(11) .cont_txt > h3{font-size: 22px; font-weight: bold; margin-bottom: 20px;}
.content .contList > li:nth-child(11) .cont_txt > span:after{content: ""; display: block; width: 50px; height: 3px; background: #000; margin-bottom: 20px;}
.content .contList > li:nth-child(11) .cont_txt > p{font-size: 1rem; margin-bottom: 23px;}
.content .contList > li:nth-child(11) .cont_txt .look_box{width: 130px; height: 45px; background: #5c5c5c; color: #fff; display: flex; justify-content: center; align-items: center;}

.content .contList > li:nth-child(12){background-color: #7A009F; position: relative;}
.content .contList > li:nth-child(12) a > img{position: absolute; top:81px; left:105px;}
.content .contList > li:nth-child(12) a > p{width: 182px; height: 25px; position: absolute; top: 205px; left:50%; transform:translateX(-50%); text-align: center; color:#fff; font-size: 22px;}

.content .contList > li:nth-child(13){background: url(../imgs/커피따르기.png) no-repeat center;}

.content .contList > li:nth-child(14){background: #c4c4c4; padding-top: 30px; padding-left: 36px;}
.content .contList > li:nth-child(14) .cont_txt{width: 237px;}
.content .contList > li:nth-child(14) .cont_txt > h3{font-size: 22px; font-weight: bold; margin-bottom: 20px;}
.content .contList > li:nth-child(14) .cont_txt > span:after{content: ""; display: block; width: 50px; height: 3px; background: #000; margin-bottom: 20px;}
.content .contList > li:nth-child(14) .cont_txt > p{font-size: 1rem; margin-bottom: 23px;}
.content .contList > li:nth-child(14) .cont_txt .look_box{width: 130px; height: 45px; background: #5c5c5c; color: #fff; display: flex; justify-content: center; align-items: center;}

/* container */
.container{height: 726px; background: #fff url(../imgs/중간배너.png) no-repeat center; background-size: cover; color: #fff; padding: 70px 0; position: relative;}
.container .section{width: 1240px; margin: 0 auto; }
.container .section > h3{text-align: center; font-size: 30px; font-weight: bold;}
.container .section > img{ margin-bottom: 30px; position: absolute; top: 150px; left:810px;}

.container .section ul{padding-top:150px ;}
.container .section li{float: left; width: calc((100% - 60px)/4); background: rgba(122,0,159,0.7); height: 380px; padding-top: 70px; border-radius: 10px; transition: 0.6s; cursor: pointer;  display: flex; justify-content: center; align-items: center;}
.container .section li + li{ margin-left: 20px;}
.container .section li:hover{box-shadow: 8px 8px 10px #000; background: rgba(122,0,159,0.9); transform: translate(-10px, -10px);}
.container .section li img{display: block; margin: 0 auto;}

.container .section .card_body{text-align: center; padding: 20px 40px; }
.container .section .card_body > h3{margin-bottom: 10px;}

/* subcont 영역 */
.subCont_bg{background: #D1A07B; height: 1170px; width: 100%;}
.subCont{padding: 80px 80px;}
.subContList{width: 1240px; height: 620px; margin: 0 auto; display: flex; flex-wrap: wrap; position: relative; margin-bottom: 80px;}
.subCont .subContList > li{display: block; width: 25%; height: 310px;}


.subCont .subContList > li:nth-child(1) .sliderWrap{position: relative;}
.subCont .subContList > li:nth-child(1) .slider3 .icons {position: absolute; top:82px; left:102px;}
.subCont .subContList > li:nth-child(1) .slider3 li{width: 310px; height: 620px; }
.subCont .subContList > li:nth-child(1) .slider_text{position: absolute; color:white; padding: 0 50px 35px 50px; top:50%;}
.slider_text > h2 {font-size: 30px; font-weight: bold; margin-bottom: 35px; text-align: center;}
.slider_text > p{font-size: 16px; font-weight: bold; text-align: left; }
.subCont .subContList > li:nth-child(1) .nextbtn2,
.subCont .subContList > li:nth-child(1) .prevbtn2{position: absolute; cursor: pointer; z-index: 9999; top:50%; width: 26.5px; height: 25px;}
.subCont .subContList > li:nth-child(1) .btns{width:26.5px; height: 25px;}
.subCont .subContList > li:nth-child(1) .nextbtn2{right:0;}
.subCont .subContList > li:nth-child(1) .prevbtn2{left:0;}

.subCont .subContList > li:nth-child(1) .slider3 .slider3-1{background: #c4c4c4;}
.subCont .subContList > li:nth-child(1) .slider3 .slider3-2{background: #7A009F;}
.subCont .subContList > li:nth-child(1) .slider3 .slider3-3{background: #FF5B28;}

.subCont .subContList > li:nth-child(2){height: 620px; background: #c4c4c4; position: relative;}
.subCont .subContList > li:nth-child(2) > img{position: absolute; top:55px; left:55px;}
.subCont .subContList > li:nth-child(2) .text_box{text-align: center; width: 220px; height: 273px; position: absolute; left:50%; top:310px; transform: translateX(-50%);}
.subCont .subContList > li:nth-child(2) .text_box h3{font-weight: bold; font-size: 26px; color:#7A009F; margin-bottom: 20px; height: 60px;}
.subCont .subContList > li:nth-child(2) .text_box p{font-size: 1rem; margin-bottom: 20px;}
.subCont .subContList > li:nth-child(2) .text_box .flavor_btn{width: 220px; height: 40px; background: #7A009F; color:#fff; display: flex; justify-content: center; align-items: center; cursor: pointer;}

.subCont .subContList > li:nth-child(3){position: absolute; left:620px; top:0; color: #fff;}
.subCont .subContList > li:nth-child(3) > img{opacity: 0.85;}
.subCont .subContList > li:nth-child(3) .text_box{width: 238px; position: absolute; top: 80px; left: 40px;}
.subCont .subContList > li:nth-child(3) .text_box h3{font-weight: bold; font-size: 22px; margin-bottom: 20px; text-align: center;}
.subCont .subContList > li:nth-child(3) .text_box p{font-size: 1rem; font-weight: bold;}

.subCont .subContList > li:nth-child(4){position: absolute; left:620px; bottom: 0;  padding-top: 62px; padding-left: 41px; background: url(../imgs/카페배경.png) center;}
.subCont .subContList > li:nth-child(4) .search_box{width: 228px; height: 39px; background-color: #7A009F; border-radius: 10px; position: relative;}
.subCont .subContList > li:nth-child(4) .search_box form{height: 30px;}
.subCont .subContList > li:nth-child(4) .search_box .input-search{width: 160px; height: 20px; position: absolute; top: 50%; transform: translateY(-50%); display: block; border:0 none; outline: none; background: #7A009F; color:#fff; left: 20px;}
.subCont .subContList > li:nth-child(4) .search_box .btn-search{width: 24px; height: 24px; border: 0; background: url(../imgs/search.png) no-repeat center; position: absolute; right: 20px; top: 50%; transform: translateY(-50%); outline: none; cursor: pointer; text-indent:9999px;}
.subCont .subContList > li:nth-child(4) span:after {content:""; display: block; width: 60px; height: 3px; background: #fff; margin: 20px auto;}
.subCont .subContList > li:nth-child(4) .text_box{position: absolute; top: 170px; left: 38px; color: #fff }
.subCont .subContList > li:nth-child(4) .text_box h3{text-align: center;}

.subCont .subContList > li:nth-child(5){position: absolute; right: 0; top: 0; background: url(../imgs/로고희미.png) center; }
.subCont .subContList > li:nth-child(5) .click{width: 310px; height: 310px;}
.subCont .subContList > li:nth-child(5) span:after {content:""; display: block; width: 60px; height: 3px; background: #fff; margin: 20px auto;}
.subCont .subContList > li:nth-child(5) .text_box{position: absolute; top: 170px; left: 84px; color: #fff }
.subCont .subContList > li:nth-child(5) .text_box h3{text-align: center;}

.subCont .subContList > li:nth-child(6){position: absolute; right: 0; bottom: 0; background: #c4c4c4;padding: 37px;}
.subCont .subContList > li:nth-child(6) .text_box > h3{color:#fff; text-align: center;}
.subCont .subContList > li:nth-child(6) .text_box > img{display: block; margin: 0 auto;}
.subCont .subContList > li:nth-child(6) .text_box > p{color:#fff; ; font-size: 14px; text-align: center;}

.subCont .banner{width: 1240px; margin: 0 auto; }
.subCont .banner .banner1, .subCont .banner .banner2{padding: 58px;}
.subCont .banner .banner1{float: left; background: url(../imgs/banner1.png) center; height: 310px; width: 620px;}
.subCont .banner .banner1 > p{font-weight: bold; font-size: 1rem; color:#8B5F3B; margin-bottom: 10px;}
.subCont .banner .banner1 > h3{color:#8B5F3B; font-size: 30px; font-weight: bold; margin-bottom: 10px;}

.subCont .banner .banner2{float: right; background: url(../imgs/banner2.png) center; height: 310px; width: 620px; position: relative;}
.subCont .banner .banner2 > p{color:#bf33b1; font-weight: bold; font-size: 1rem; margin-bottom: 10px;}
.subCont .banner .banner2 > h3{color: #2774ce; font-weight: bold; font-size: 30px;}
.subCont .banner .banner2 .frape{position: absolute; bottom: 35px; right: 80px;}

/* 푸터 영역 */
footer{width: 100%; height: 200px; background:#c4c4c4;}
.footer{width: 1240px; margin: 0 auto;}
.footer .logo{float: left; padding-top: 68px; margin-right: 110px; height: 200px;}
.footer img{ margin-bottom: 10px; display: block;}
.footer .logo p{font-size: 17px; font-weight: bold; float: left; margin-right: 10px; padding-left:20px;}
.footer .logo h3{font-size: 17px; font-weight: bold; color:#7A009F; float: left; margin-right: 20px;}

.footer .footer_menu{padding-top: 28px; margin-bottom: 28px;}
.footer .footer_menu ul{width: 1240px; height: 19px;}
.footer .footer_menu li{float: left; height: 20px;}
.footer .footer_menu li a{font-weight: bold;}
.footer .footer_menu li + li{margin-left: 20px;}

.footer .footer_text{float: left; width: 570px; height: 22px; margin-bottom: 10px; }
.footer .footer_text h3{float: left; margin-right: 10px;}
.footer .footer_text p{float: left;}

.footer > h3{float: left; padding-top: 10px;}
