@charset "utf-8";
/*common*/
.clearfix:after{content:""; display:block; clear:both;}
*{margin:0; padding:0; }
body{min-width:1200px; }

.header{width:100%; }
.long_blue{width: 100%; background: #0044af;}

.gnb{width:1200px; margin:0 auto;  }
.gnb_box{float:left;}

.main_gnb{background: #00163b;}
.main_gnb li{float: left; text-align: center; border-right:2px solid #0044af; }
.main_gnb li:last-child{border-right: none;}
.main_gnb li:hover{background: #fff; }
.main_gnb li a{display: block; color:#fff; padding:0 40px;line-height: 40px;}
.main_gnb li:hover a{color:#6b6b6b;}

.sub_gnb{float: right;padding-top:10px; }
.sub_gnb li{float: left; margin-right:10px; }
.sub_gnb li:last-child{margin-right: 0;}
.sub_gnb li a{ color:#fff; font-size:12px; }

.sub_gnb div.zoom-in,.sub_gnb div.zoom-out{float: left;width: 16px;height: 16px;}
.sub_gnb div.zoom-out{margin-right:3px;}
.sub_gnb div.zoom-in a, .sub_gnb div.zoom-out a{
    display: block; color: #9b9b9b; width: 16px; height: 16px; background: #fff; font-weight: bold; text-align: center;
}
/* main toggle, sub toggle */
.toggle_buttons{float: right; padding-top: 35px; padding-bottom: 37px;}
.main_toggle_btn{display: block; width: 45px; height: 45px; text-indent: -99999px; background:url(../img/main_toggle_btn.png) no-repeat; cursor:pointer; }
.login_toggle_btn{display: block; width: 45px; height: 45px; text-indent: -99999px; background:url(../img/login_toggle_btn.png) no-repeat; cursor:pointer;  }
.main_toggle{float: left;}
.login_toggle{float: left;}

/* main menu, sub menu */
.menu{width:1200px; height: 117px; margin: 0 auto;}
.logo{float: left; padding-top: 32px; }

.menu_box{float: right; }
.main_menu{float:left; }
.main_menu>li{float: left; margin-right: 50px; }
/* .main_menu>li:hover{background: #23829f;} */
.main_menu>li>a{display: block; line-height:117px ; text-align: center;}


/*contents*/
#contents{
    height: 1300px; background-image: url(../img/bg_dot.gif), url(../img/main_bg.jpg); background-repeat: repeat, no-repeat;
    background-position:center; background-size:auto, cover; padding:0; min-width: 320px;}

#contents .titleWrap{width: 1200px; height: 257px; margin:0 auto; margin:0 auto;}

#contents .slogan_box{float: left;  padding-top:77px; margin-bottom: 40px; }
#contents .slogan_p{color:#fff; font-size: 31pt; margin-bottom: 25px;}
#contents .slogan_h1{color:#fff; font-size: 43pt;}

#contents .circles_box{float: right; padding-top: 77px; }
#contents .icons li {float: left; width: 90px; margin-left: 20px; position: relative; }
#contents .icons li:first-of-type{margin-left: 0;}
#contents .circle{border:2px solid #000; border-radius:45px;  width:90px; height:90px;
                  border-color: #fff; margin-bottom: 10px; display: flex; justify-content: center;
                align-items:center;}
#contents .icons li p{text-align: center; font-size: 14px; color:#fff;}

#contents .container{width: 1200px; margin: 0 auto; background: #fff;}
#contents .container>ul>li{float: left; width: 25%; height: 225px; }
#contents .container>ul>li:nth-child(2n+1){background: pink;}
#contents .container>ul>li:nth-child(1){width:75%; height: 450px;}


#contents .sliderWrap{position: relative;}
#contents .bx-wrapper {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    margin-bottom: 0;}

#contents .container>ul>li:nth-child(1) .bx-wrapper img{
    max-width: 900px; height: 450px; width:900px;
    display: block;}

#contents .nextBtn, .prevBtn{position: absolute;  top:50%;
      transform: translateY(-50%); cursor: pointer;}
#contents .nextBtn{right:0; background: rgba(0,0,0,0.3);}
#contents .prevBtn{left:0; background: rgba(0,0,0,0.3);}

#contents .txtWrap{position: absolute; top:85px; left: 90px; width: 270px;}
#contents .title{margin-bottom: 28px; font-size: 43pt; color: #1651b5; font-weight: normal;}
#contents .fas{margin-left: 5px;}
#contents .bold{font-weight: 800; }
#contents .btn{display: block; padding: 0; width: 170px; line-height: 40px; color:#fff;
  text-align: center; border:1px solid #0044b1; transition: 0.5s; background: #0044b1; }


#contents .container>ul>li:nth-child(2){height: 450px; position: relative;}
.second{background:url(../img/bg03.png) no-repeat center;}
#contents .btn2{display: block; padding: 0; width: 170px; line-height: 40px; color:#fff;
  text-align: center; border:1px solid #fff; transition: 0.5s; background: rgba(0,0,0,0.5);
position: absolute; bottom:70px; right:80px; }
#contents .second .h2{font-size:27pt; font-weight: normal; margin-bottom: 20px; color:#fff;}
#contents .size{font-size: 27pt;}
.second p {font-size:12pt; line-height: 17pt; color:#fff;}
#contents .second_box{padding-top:100px; padding-left: 35px;}


#contents .container>ul>li:nth-child(3){background: #00163b; padding:20px;}
.third .hotlink img{display: block; margin-bottom: 10px;}
.third h3{font-size: 23pt; color:#fff; margin-bottom: 20px;}
.third .hotlink li{float: left; width: 65px; margin-left: 20px;}
.third p{font-size: 10pt; color:#fff; text-align: center; width:60px; line-height: 15pt;}


#contents .container>ul>li:nth-child(4){background:#1651b7;  position: relative; overflow: hidden;
padding:20px;}
#contents .container>ul>li:nth-child(4)::before {content:""; background: url(../img/logo2.png)
  no-repeat; opacity: 0.2; position: absolute; top:60px; left:170px; width:100%; height: 100%;}
.container>ul>li:nth-child(4) .dot{background: url(../img/liststyle.png) no-repeat left center;}
.table{border-collapse: collapse; font-size:9pt; color:#fff; width:100%; position: absolute; }
.table {width: 250px;}
.table a{color:#fff; line-height: 24px;}
.table tr th{padding: 15px 0;}
.table td.width150 {width: 170px;}
.table td + td { text-align: right;}
.table td.width150{background: url(../img/liststyle.png) no-repeat 0 50%;padding-left:10px ;}
.fourth h3{color:#fff; font-size:21pt; margin-bottom: 22px;}
.fourth .divider{width:260px; margin:0 auto; background: #fff; height: 5px; z-index: 10; position: absolute;}


#contents .container>ul>li:nth-child(5){padding:20px;  }
.fifth h3{color:#00173f; font-size: 23pt; margin-bottom: 20px; }
.fifth .boxer img{float: left; display: block;}
.fifth p{float: right; width: 130px; line-height:16pt; font-size:10pt; margin-bottom: 22px;}
.fifth .sns img{float: left;display: block; width:30px; height: 30px; margin-right: 4px;}
.fifth .sns{float: right;}
.fifth .sns li{float: left;}
.fifth .sns li:last-child img{margin-right:0}


#contents .container>ul>li:nth-child(6){background: url(../img/SC02.jpg) no-repeat center;
  position: relative; overflow: hidden;}
#contents .popup{background: rgba(0,0,0,0.7); height: 100%; position: absolute; width:100%; opacity: 1;
transition: 0.3s; text-align: center; top:80%; left:0; }
#contents .sixth:hover .popup{opacity: 0.7; top:0; left:0;}
#contents .sixth h3{color:#fff; font-size: 17pt; padding-top: 10px;}

#contents .container>ul>li:nth-child(7){background: url(../img/SC03.jpg) no-repeat center;
  display:flex;justify-content: center; align-items: center;}
.seventh i{font-size: 60px;}
.seventh img{width: 300px; height: 225px;}


#contents .container>ul>li:nth-child(8){width: 75%;}
#contents .eighth .sliderWrap2{position:relative;}
#contents .bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active,
.bx-wrapper .bx-pager.bx-default-pager a:focus {background:#f74237;}
#contents .bx-wrapper .bx-pager{position: absolute; top:10px; right:20px; height: 50px; width: 100px;}
#contents .txtWrap2{position: absolute; top:37px; left: 44px; width: 385px;}
#contents .welcome{margin-bottom: 10px; font-size: 21pt; color:#f74237; font-weight: normal;}
#contents .day{font-size:41pt; color: #f74237; font-weight: normal; margin-bottom: 26px; }
#contents .second_btn{display: block; padding: 0; width: 170px; line-height: 40px; color:#fff;
  text-align: center; transition: 0.5s; background: #f74237; margin-bottom: 32px; }

.footer{width: 100%; height: 165px; }
.footerbox{margin: 0 auto; width:1200px;}
.footerLogo{width:300px; float: left; background: url(../img/biglogo.png) no-repeat center; display: block; height: 165px;  }
/* .footer img{float:left; display: block;} */
.footerWrap{float: left; width:900px;}
.footerMenu{float: left; width:900px; padding-top: 28px; padding-left: 10px; margin-bottom: 16px; }
.footerMenu li{display: block; float: left; margin-right: 20px; padding-left: 20px; border-left: 1px solid #000;}
.footerMenu li:first-child{border-left: none; padding-left: 0;}
.footerMenu li a{font-size: 10pt; text-align: center; }

.footerWrap .discription{float: left; padding-left: 10px;}
.footerWrap .discription p{line-height:16px; font-size: 12px; color: #888888;}
.footerWrap .discription p:last-child{font-weight: bold; margin-top: 14px; color: #666666;}
